﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Request.Url.GetLeftPart(UriPartial.Authority)/Scripts/tinymce/tinymce.min.js"></script>
</head>
<body>
<div id="container">
<header>
    <h1>@Html.ActionLink("My ASP.NET Blog", "Index", "", null, new { @class = "header-title" })</h1>
    <h2>@Html.ActionLink("Tagline", "Index", "", null, new { @class = "header-description" })</h2>
</header>
<nav>
 <ul>
    <li>@Html.ActionLink("Home", "Index", "Page")</li>
    <li>@Html.ActionLink("About", "About", "Page")</li>
    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Page")</li>
 </ul>
</nav>
<section>
    @RenderBody()
</section>
       
<footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Blog <div id="login">@Html.Partial("_LoginPartial")</div>
                @if (User.Identity.IsAuthenticated)
                    {
                <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Blog/Create">Post Article</a>
                   }</p>
</footer>
</div>
</body>
</html>
