@model IEnumerable<MvcBlog.Models.Blog>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

@foreach (var item in Model.Reverse())
{
        <h2><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/post/@Html.DisplayFor(modelItem => item.ID)/@Html.DisplayFor(modelItem => item.Slug)">@Html.DisplayFor(modelItem => item.Title)</a></h2>            
            @Html.DisplayFor(modelItem => item.Date)
            <p>@Html.DisplayFor(modelItem => item.Body)</p>
}
